<div class="text-white space-y-6">

    <!-- titre en haut -->
     <div class="flex items-center space-x-2">
   
        <p class="text-sm font-semibold uppercase text-gray-300">{{smallTitle}}</p>
     </div>

     <!-- texte princiaple -->
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold leading-tight">{{mainTitle}}</h1>

      <!-- paragraphe -->
       <p class="text-gray-300 text-base md:text-lg leading-relaxed max-w-xl">{{description}}</p>

       <!-- composant storebouttons -->
        <div class="pt-4">
            <app-store-button></app-store-button>

        </div>
</div>
