<main class="bg-gradient-to-br from-indigo-900 via-purple-900 to-indigo-800 min-h-screen">
   <div class="container mx-auto px-6 py-16">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">

            <!--composant description -->
            <div class="order-2 lg:order-1">
                <app-description></app-description>
            </div>

            <!-- composant phone mackup -->
             <div class="order-1 lg:order-2">
                <app-phone-mack-up></app-phone-mack-up>
            </div>
        </div>
    </div>
</main>
